$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.sidebar {
  @extend .col-md-2;

  .table-columns {
    @extend .table-responsive;

    table {
      @extend .table;
      @extend .table-striped;
      @extend .table-bordered;
      @extend .table-hover;
      @extend .table-condensed;
    }
  }
}

.main-content {
  @extend .col-md-10;
}

.search-form {
  @extend .form-inline;

  .form-group {
    display: block;
    margin-bottom: 15px;
  }
}

.time-query {
  .dropdown {
    display: inline-block;
  }
}

.tables,
.table-search-result,
.table-properties,
.table-columns,
.column-properties {
  @extend .table-responsive;

  table {
    @extend .table;
    @extend .table-striped;
    @extend .table-bordered;
    @extend .table-hover;
    @extend .table-condensed;
  }
}

.list-search-result {
  @extend .container-fluid;

  table {
    @extend .table;
    @extend .table-striped;
    @extend .table-bordered;
    @extend .table-hover;
    @extend .table-condensed;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
