<div class="container-fluid" ng-controller="ColumnShowController">
  <ol class="breadcrumb">
    <li><a href="#/">Top</a></li>
    <li><a href="#/tables/">Tables</a></li>
    <li><a href="#/tables/{{column.table.name}}">{{column.table.name}}</a></li>
    <li class="active">
      <a href="#/tables/{{column.table.name}}/columns/{{column.name}}">
        {{column.name}}
      </a>
    </li>
  </ol>

  <div class="content">
    <div class="alert alert-warning" ng-show="message.length &gt; 0">
      <p>{{message}}</p>
    </div>

    <h2>Column: {{column.table.name}}.{{column.name}}</h2>
    <div class="column-properties">
      <table>
        <tr>
          <th>ID</th>
          <td>{{column.id}}</td>
        </tr>
        <tr>
          <th>Table</th>
          <td><a href="#/tables/{{column.domain}}">{{column.domain}}</a></td>
        </tr>
        <tr>
          <th>Name</th>
          <td>{{column.name}}</td>
        </tr>
        <tr>
          <th>Type</th>
          <td>{{column.type}}</td>
        </tr>
        <tr>
          <th>Value type</th>
          <td>{{column.range}}</td>
        </tr>
        <tr>
          <th>Value size type</th>
          <td>{{column.sizeType}}</td>
        </tr>
        <tr>
          <th>Path</th>
          <td>{{column.path}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
