<div ng-controller="TableSearchController">
  <h1 class="page-header">Search</h1>
  <div class="alert alert-warning" ng-show="message.length &gt; 0">
    <p>{{message}}</p>
  </div>
  <form role="search">
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon">match_columns</span>
        <input type="search" class="form-control" ng-model="parameters.match_columns">
      </div>
      <div class="input-group">
        <span class="input-group-addon">query</span>
        <input type="search" class="form-control" ng-model="parameters.query">
      </div>
    </div>
    <button ng-click="search(parameters)" class="btn btn-default">Search</button>
    <button ng-click="clear()" class="btn btn-default">Clear</button>
  </form>
  <p class="command-line">
    <code id="groonga-command-line">{{commandLine}}</code>
  </p>
  <p class="statistics">
    <span id="n-total-records">{{nTotalRecords}} records</span>
    <span id="elapsed-time">({{elapsedTimeInMilliseconds | number : 3}}ms)</span>
  </p>

  <div class="table-search-result" ng-show="recordsShowType == 'table'">
    <table>
      <thead>
        <tr>
          <th ng-repeat="column in columns track by $index">
            {{column.name}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="record in records track by $index">
          <td ng-repeat="element in record track by $index">
            {{element.value}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="list-search-result" ng-show="recordsShowType == 'list'">
    <div class="row" ng-repeat="record in records track by $index">
      <div class="col-md12">
        <div class="table-responsive">
          <table>
            <tbody>
              <tr ng-repeat="item in record track by $index">
                <th>{{item.column.name}}</th>
                <td>{{item.value}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
