<div class="container-fluid" ng-controller="TableShowController">
  <ol class="breadcrumb">
    <li><a href="#/">Top</a></li>
    <li><a href="#/tables/">Tables</a></li>
    <li class="active"><a href="#/tables/{{table.name}}">{{table.name}}</a></li>
  </ol>

  <div class="sidebar">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Actions</h2>
      </div>
      <div class="panel-body">
        <div class="list-group">
          <a class="list-group-item"
             href="#/tables/{{table.name}}/search">
            <span class="glyphicon glyphicon-search"></span>
            Search
          </a>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Tables</h2>
      </div>
      <div class="panel-body">
        <div class="list-group">
          <a ng-repeat="table in tables track by $index"
             class="list-group-item"
             href="#/tables/{{table.name}}">
            {{table.name}}
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="main-content">
    <div class="alert alert-warning" ng-show="message.length &gt; 0">
      <p>{{message}}</p>
    </div>

    <h2>{{table.name}}</h2>
    <div class="table-properties">
      <table>
        <tr ng-repeat="property in table.properties track by $index">
          <th>{{property.name}}</th>
          <td>{{property.value}}</td>
        </tr>
      </table>
    </div>

    <h2>Columns</h2>
    <div class="table-columns">
      <table>
        <thead>
          <tr>
            <th>id</th>
            <th>name</th>
            <th>type</th>
            <th>value type</th>
            <th>sources</th>
            <th>path</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="column in table.columns track by $index">
            <td>{{column.id}}</td>
            <td>
              <a href="#/tables/{{table.name}}/columns/{{column.name}}">
                {{column.name}}
              </a>
            </td>
            <td>{{column.type}}</td>
            <td>{{column.range}}</td>
            <td>{{column.sources}}</td>
            <td>{{column.path}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
